#profile-img img{
    width: 100%;
	border-radius:50%;
    margin-bottom: 0px;
}

#homepage-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

hr {
    margin-top: 0px;
}

h2 {
  border-bottom: none;
}

#cv-name-title {
    font-size: 40px; 
    font-weight: bold;
}