/*-- scss:defaults --*/
$link-color: #39729E;
$text-muted: #6a737b;

/*-- scss:rules --*/

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}

#quarto-announcement {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  color: $white;
  background-color: #447099; 
}

#quarto-announcement a {
  color: $white;
}